<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag('favicon.ico') %>
    <title>PTAG Library β</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= javascript_include_tag asset_url('userHeader.js'), type: 'text/javascript' %>
    <%= yield :script_include %>
  </head>

  <body>
    <%= tag.div data: {
	props: {
	new_user_path: new_user_path,
	sessions_path: sessions_path,
	is_logged_in: !current_user.nil?,
	name: current_user&.name,
	mypage_path: mypage_path
	}.to_json
	}, id: 'user-header'%>
    <%= yield %>
  </body>
</html>
